.box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    perspective: 1000px;
    background-color: #00b894;
}
.b4 {
    width: 550px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    animation: b4_rotate 4s linear infinite;
}
@keyframes b4_rotate {
    0% {
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(450deg);
    }
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.slide img {
    width: 100%;
    height: 100%;
}
.slideActive {
    display: block;
}